# Dependencies
node_modules/

# Build output
.next/
dist/
*.tsbuildinfo

# Coverage
coverage/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Logs
*.log

# Sentry Config File
.env.sentry-build-plugin

# clerk configuration (can include secrets)
/.clerk/
